<?xml version="1.0"?>
<launch>

  <arg name="camera_topic" default="/usb_cam/image_raw"/>
  <arg name="result_image_topic" default="/openpose/image_raw"/>
  <arg name="resolution" default="640x480"/>
  <arg name="active_face" default="true"/>
  <arg name="debug" value=""/> <!-- "xterm -hold -e gdbgui - -project $(find openpose_ros_node)/src - -args"-->    
  <node name="openpose_ros_node" pkg="openpose_ros_node" type="openpose_ros_node" output="screen" required="true" launch-prefix="$(arg debug)"
 >
        <param name="camera" value="$(arg camera_topic)"  />
        <param name="result_image_topic" value="$(arg result_image_topic)" />
        <param name="resolution" value="$(arg resolution)" />
        <param name="face" value="$(arg active_face)" />
    </node>

    <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" respawn="false" output="screen" >
        <remap from="image" to="$(arg result_image_topic)"/>
    </node>

</launch>
